/*Layout and reusable classes*/

@font-face{ 
	font-family:'Open Sans';
	src: url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.eot');
	src: url(web-fonts/opensans-reg/'OpenSans-Regular-webfont?iefix') format('eot'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.woff') format('woff'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.ttf') format('truetype'),
	     url(web-fonts/opensans-reg/'OpenSans-Regular-webfont.svg#webfont') format('svg');
}

body{
	font: 100%/1.5 "Open Sans", sans-serif;
	width: 100%;
	background-color: #f2f2f2;
	margin-top:  76px;
	-webkit-font-smoothing: antialiased;
	margin-left: 0;
}

small{
    font-weight: bold;
    display: block;
    padding: .75rem 0;
}

.bold{
	font-weight: 600;

}

.brand-red{
	color: #FF6952;
}

.brand-blue{
	color: #30C0D8;
}

.wrapper{
	margin: 0 auto;
}

.hero{
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 14rem;
}

.center{
	text-align: center;
}

/* Initial styles/ Home Page*/

/*Header and navigation*/

header{
	background: white;
	width: 100%;
	height: 4.75rem;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
	position: fixed;
	top: 0px;
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
    justify-content: flex-end;
    z-index: 1000;
}

header>a{
	margin-right: auto;
}

header>a:hover{
	border-bottom: none;
}

#logo{
	padding: .65em;
}

nav{
    margin: .5rem;
}

.main-nav ul{
	list-style-type: none;
	font-weight: bold;
	padding-left: 0;
}

.main-nav li{
	display: inline-block;
    margin: 0 .5rem;
    margin-left: auto;
}

.main-nav a{
  text-decoration: none;
  color: #3a3a3a;
  font-size: 0.85rem;

}
a:hover{
  text-decoration: none; 
  color: #FF6952;
  border-bottom: 2px solid #30C0D8;
}

/* Hero image */

#hero-homepage{
    background: url(images/home/hero-homepage.jpg) center center / cover no-repeat;
}

.hero-h1{
	margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.hero-p{
	font-weight: bold;
    color: white;
    margin-top: 0;
    text-shadow: 2px 2px 8px black;
}


/* Intro Content */

#intro{
	padding: 3rem 1.95rem;
	background-color: white;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
    justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
}

#intro p{
	color: #3a3a3a;
    font-weight: 400;
    margin: 0;
    font-size: 1.33rem;
}

/* Services Content */

#services{
	padding: 1rem 0 1.5rem 0;
}

#services h2{
	margin-left: 1rem;
	margin-top: 0;
    padding-top: 2rem;
}

#services ul{
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

#services li{
   margin: .55rem;
   font-size: .85rem;
   text-align: center;
   -webkit-flex-basis: calc(50% - 20px);
   -moz-flex-basis: calc(50% - 20px);
   -ms-flex-basis: calc(50% - 20px);
   flex-basis: calc(50% - 20px);
}

#services p{
	color: #3a3a3a;
    font-size: 0.85rem;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}

.fa-circle{
	color: #30C0D8;
}

/* Latest News Section */

#news{
	background-color: white;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: row wrap;
	-moz-flex-direction: row wrap;
	-ms-flex-direction: row wrap;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 2rem 0;
}

#news h2{
    text-align: center;
}

line{
	display: block;
    width: 30%;
    height: 1px;
    background: #e8e8e8;
}

#news ul{
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

#news li{
   margin: 1em .5em;
   max-width: 360px;
}

#news img{
   width: 100%;
   height: auto;
   max-width: 360px;
}

#news a{
	text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
}

/* Footer */


/* Footer Top */

.footer-top{
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 2rem;
	padding-bottom: 2rem;
    box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

.footer-top ul{
	list-style-type: none;
	padding-left: 1.5rem;
}

.footer-top h4{
	padding-left: 1.5rem;
	margin-bottom: .5rem;
}

.footer-top a{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
}

.resources-column, .about-column, .product-column, .support-column{
	padding: .5rem 0;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 145px;
}

/* Footer Bottom */

.footer-bottom{
	background-color: #fcfcfc;
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.footer-logo{
	height: 6.25rem;
	width: 15.625rem;
}

.footer-bottom p{
	font-size: .80rem;
}

.social-icons-footer a{
    text-decoration: none;
}

/* About Page*/

#hero-aboutpage{
	background: url(images/about/hero-aboutpage.jpg) center center / cover no-repeat;
}

/* Our Story */

.our-story{
	padding: 3rem 1rem;
    background: white;
    box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

.our-story h2{
	margin-top: 0;
}

/* Who we are */

.who-we-are{
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    padding: 3rem 1rem;
}


.who-we-are img{
	max-width: 200px;
	max-height: 200px;
	margin: 2rem 0;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    transition: transform .4s ease;
    transform: scale(1);

}

.who-we-are img:hover{
	box-shadow: 0 0 50px #30c0d8;
    transform: translate(0%, 10px) scale(1.40);
}

.who-we-are h3{
	margin-bottom: 0;
}

.about-us-text{
	font-size: .90rem;
	padding: 0 .5rem 1rem .5rem

}

/* Our Priorities */

.our-priorities{
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
    padding: 3rem 1rem;
    background: white;
}

.our-priorities ul{
	padding-top: 1.5rem;
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

.our-priorities li{
	text-align: center;
}

/* About page Call to Action */

.about-page-cta{
	background-color: #30c0d8;
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 2rem 0 3rem 0
}

.about-page-cta h3{
    margin-top: 0;
    padding-top: 2rem;
    color: white;
}

.contact-us-button{
	color: white;
	background: #FF6952;
	border-radius: 10%;
	border: none;
	padding: .75rem;
	margin: 0;
	transition: transform, background, .5s ease;
    transform: scale(1);
}

.contact-us-button:hover{
	background: #ff5339;
    box-shadow: 0 0 6px white;
    transform: scale(1.10);
}

/* Contact Page */

#hero-contactpage{
	background: url(images/contact/hero-contactpage.jpg) center center / cover no-repeat;
}

.contact-info{
	padding: 3rem 1rem;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);

}

.contact{
	display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.contact-info a{
	color: #666;
}


.fa-stack.fa-2x.smaller-contact-icon{
		font-size: 1.45em;
}

.google-maps{
	padding: 3rem 1rem;
	background: white;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
}


/* Breakpoints */

@media screen and (min-width: 450px) {
	#services li{
		-webkit-flex-basis: calc(25% - 20px);
		-moz-flex-basis: calc(25% - 20px);
		-ms-flex-basis: calc(25% - 20px);
		flex-basis: calc(25% - 20px);
	}

}

@media screen and (min-width: 600px) {
		
    .main-nav a{
		font-size: .95rem;
	}

	.hero{
		height: 23rem;
	}

	.hero-h1{
		font-size: 3rem;
	}

	.hero-p{
		font-size: 1.5rem;
	}

	#intro{
		padding: 6rem 2rem;
	}

	#intro p{
        font-size: 1.8rem;
	}

	#services{
	    padding: 2.5rem 0 3.5rem 0;
	}

	#services h2{
		font-size: 1.5rem;
	}

    #services p{
		font-size: 1rem;
	}

    .fa-stack.fa-2x{
		font-size: 3.8em;
	}

	#news{
		padding: 3.5rem 0;
	}

	#news h2{
		font-size: 1.5rem;
	}

    #news li{
		max-width: 40%;
	}

	.footer-top{
	    height: 15rem;
	    -webkit-align-items: center;
	    -moz-align-items: center;
	    -ms-align-items: center;
        align-items: center;
	}

	.product-column{
		margin-top: 1.65rem;
	}

	/* About page */

	.primary-about-content h2{
		font-size: 1.8rem;
	}

	.primary-about-content p{
		font-size: 1.25rem;
	}

	.primary-about-content h3{
		font-size: 1.4rem;
	}

	.our-story{
		padding: 4rem 3rem;
	}

	.our-story h3{
		margin-top: 0;
	}

	.about-us-text{
		font-size: 1rem;
        padding: 0 2rem 1rem 2rem;
    }

    .contact-us-button{
    	padding: 1rem;
    }

    .about-page-cta a{
    	text-decoration: none;
    }

    /* Contact Page*/


    .contact-info{
    	padding: 4rem 3rem;
    }

    .contact{
        margin: 0 .2rem;
    }

    .contact-info h2{
    	font-size: 1.8rem;
    }

    .fa-stack.fa-2x.smaller-contact-icon{
		font-size: 2.3em;
	}

    .contact p{
    	font-size: 1.16rem;
    }

    .google-maps h2{
    	font-size: 1.8rem;
    }

    .google-maps{
    	padding: 4rem 3rem;
    }

}

@media screen and (min-width: 750px) {
	.our-story{
		padding: 4rem 6rem;
	}
}

@media screen and (min-width: 850px) {
	.footer-top{
		padding-left: 3rem;
	}

	.contact-info h2{
		font-size: 2.20rem;
	}

	.google-maps h2{
		font-size: 2.20rem;
	}
}

@media screen and (min-width: 950px) {
	.hero{
		height: 33rem;
	}

	.hero-h1{
		font-size: 4rem;
	}

	.hero-p{
		font-size: 2rem; 
	}

	#intro{
		padding: 7rem 5rem;
	}
    #intro p{
    	font-size: 2.06rem;
    }

    #services{
   	    padding: 4rem 0 4.5rem 0;
   }

    #services h2{
   	    font-size: 1.8rem;
        padding: 0 0 1rem 0;
    }

    #news{
    	padding: 4rem 1rem;
    }

    #news h2{
    	font-size: 1.8rem;
    }

    .footer-top{
    	padding-left: 5rem;
    }

    .our-story{
    	padding: 6rem 8rem;
    }

    .our-story p{
    	font-size: 1.5rem;
    }

    .primary-about-content h2{
    	font-size: 2.20rem;
    }

    .primary-about-content h3{
    	font-size: 1.55rem;
    }

    .our-priorities p{
    	padding: 0 7rem;
    }

    .who-we-are{
    	padding: 4rem 1rem;
    }

    .who-we-are p{
    	padding: 0 7rem;
    }

    .google-maps{
		padding: 6rem 8rem;
	}
}

@media screen and (min-width: 1000px) {
	.contact-info{
		padding-top: 5rem; 
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

}

@media screen and (min-width: 1100px) {
	#intro{
		padding: 7rem 9rem;
	}

	#news ul{
		display: -webkit-box;     
        display: -moz-box;         
        display: -ms-flexbox;     
        display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		-moz-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}

	.main-nav ul{
		margin-right: 6rem;
	}

	#logo{
		margin-left: 6rem;
	}

}














