/* Begin */

body{
	font-size: 16px;
	width: 100%;
	font: 16px "Open Sans", sans-serif;
	background-color: #f2f2f2;
	margin:  0 auto;
}

h1,h2,h3{
}



/*Layout*/


.wrapper{

}

/*Header and navigation*/

header{
	width: 100%;
	background: white;
	height: 4.75rem;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

#logo{
	/*margin: 1rem;*/
}

nav{
	top: 0;
	right: 0;
	position: absolute;
/*	padding: 1rem 0 0 0;
	margin: .5rem;*/
}

.main-nav ul{
	list-style-type: none;
	font-weight: 400;
	padding-left: 1rem;
    margin: .5rem;
}
}

.main-nav li{
	display: inline-block;
    margin: .5rem;
    padding: .5rem .15rem;
}

.main-nav a{
  text-decoration: none;
  color: #3a3a3a;
  font-size: 0.85rem;

}
a:hover{
  text-decoration: none; 
  color: #3fa9f5;
}

