/*Layout and reusable classes*/

body{
	font: 100%/1.5 "Open Sans", sans-serif;
	width: 100%;
	background-color: #f2f2f2;
	margin-top:  76px;
	-webkit-font-smoothing: antialiased;
	margin-left: 0;
}

small{
    font-weight: bold;
    display: block;
    padding: .75rem 0;
    font-family: Helvetica;
}

.brand-red{
	color: #FF6952;
}

.brand-blue{
	color: #30C0D8;
}

.wrapper{
	margin: 0 auto;
}

.hero{
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14rem;
}

.center{
	text-align: center;
}

/* Initial styles/ Home Page*/

/*Header and navigation*/

header{
	background: white;
	width: 100%;
	height: 4.75rem;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
	position: fixed;
	top: 0px;
	display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

header>a{
	margin-right: auto;
}

header>a:hover{
	border-bottom: none;
}

#logo{
	padding: .65em;
}

nav{
    margin: .5rem;
}

.main-nav ul{
	list-style-type: none;
	font-weight: bold;
	padding-left: 0;
}

.main-nav li{
	display: inline-block;
    margin: 0 .5rem;
    margin-left: auto;
}

.main-nav a{
  text-decoration: none;
  color: #3a3a3a;
  font-size: 0.85rem;

}
a:hover{
  text-decoration: none; 
  color: #FF6952;
  border-bottom: 2px solid #30C0D8;
}

/* Hero image */

#hero-homepage{
    display: -webkit-box;     
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14rem;
    background: url(images/home/hero-homepage.jpg) center center / cover no-repeat;
}

.hero-h1{
	margin-bottom: 0;
    color: white;
}

.hero-p{
	font-weight: bold;
    color: white;
    margin-top: 0;
}


/* Intro Content */

#intro{
	height: 14rem;
	background-color: white;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#intro p{
	color: #3a3a3a;
    font-weight: 400;
    margin: 0;
    padding: 1rem .97rem;
    font-size: 1.20em;
}

/* Services Content */

#services{
}

#services h2{
	margin-left: 1rem;
	margin-top: 0;
    padding-top: 2rem;
}

#services ul{
   display: flex;
   flex-flow: row wrap;
}

#services li{
   margin: .55rem;
   font-size: .85rem;
   text-align: center;
   flex-basis: calc(50% - 20px);
}

#services p{
	color: #3a3a3a;
    font-size: 0.85rem;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}

.fa-circle{
	color: #30C0D8;
}

/* Latest News Section */

#news{
	background-color: white;
	box-shadow: 0 0 2px rgba(6,8,8,0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#news h2{
    text-align: center;
}

line{
	display: block;
    width: 30%;
    height: 1px;
    background: #e8e8e8;
}

#news ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

#news li{
   margin: 1em .5em;
   max-width: 360px;
}

#news img{
   width: 100%;
   height: auto;
   max-width: 360px;
}

#news a{
	text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
}

/* Footer */


/* Footer Top */

.footer-top{
	display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 2px rgba(6,8,8,0.15);
}

.footer-top ul{
	list-style-type: none;
	padding-left: 1.5rem;
}

.footer-top h4{
	padding-left: 1.5rem;
	margin-bottom: .5rem;
}

.footer-top a{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
}

.resources-column, .about-column, .product-column, .support-column{
	padding: .5rem 0;
	flex: 1;
	min-width: 145px;
}

/* Footer Bottom */

.footer-bottom{
	background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo{
	height: 6.25rem;
	width: 15.625rem;
}

.footer-bottom p{
	font-size: .80rem;
}

.social-icons-footer a{
    text-decoration: none;
}

/* About Page*/

/* Hero*/

#hero-aboutpage{
	background: url(images/about/hero-aboutpage.jpg) center center / cover no-repeat;
}

/* Our Story */

.our-story{
	padding: 0 1rem;
}





/* Breakpoints */

@media screen and (min-width: 450px) {
	#services li{
		flex-basis: calc(25% - 20px)
	}

}

@media screen and (min-width: 600px) {
		
    .main-nav a{
		font-size: .95rem;
	}

	#hero-homepage{
		height: 23rem;
	}

	#hero-homepage h1{
		font-size: 3rem;
	}

	#hero-homepage p{
		font-size: 1.5rem;
	}

	#intro{
		height: 18rem;
	}

	#intro p{
	    padding: 1rem 1.65rem;
        font-size: 1.9rem;
	}

	#services{
		height: 23rem;
	}

	#services h2{
		font-size: 1.8rem;
	}

	#news h2{
		font-size: 1.8rem;
	}

	.footer-top{
	    height: 15rem;
        align-items: center;
	}

	.product-column{
		margin-top: 1.65rem;
	}

	.fa-stack.fa-2x{
		font-size: 3.8em;
	}

	#services p{
		font-size: 1rem;
	}

	#news li{
		max-width: 40%;
	}

}

@media screen and (min-width: 950px) {
	#hero-homepage{
		height: 30rem;
	}

	#hero-homepage h2{
		font-size: 4rem;
	}

	#hero-homepage p{
		font-size: 2rem; 
	}

	#intro{
		height: 30rem;
	}
    #intro p{
	padding: 2rem 6.55rem;
    font-size: 2.39rem;
}

@media screen and (min-width: 1100px) {
	#news ul{
		display: flex;
		flex-flow: row nowrap;
	}

	.main-nav ul{
		margin-right: 6rem;
	}

	#logo{
		margin-left: 6rem;
	}

}














